@page
@model IdentityServer.Pages.Login.Index
@{
    #nullable enable
    bool? isLoggedIn = false;
    if (!true.Equals(ViewData["signed-out"]))
    {
        isLoggedIn = User.Identity?.IsAuthenticated;
    }
}


@if (isLoggedIn.HasValue && !isLoggedIn.Value)
{
    <div class="card border-0">
        <div class="card-body">
            <partial name="_ValidationSummary" />
            <div class="row">
                <div class="col col-md-6">
                    <div class="container">
                        <img src="~/images/plant1.png" width="100%" />
                    </div>
                </div>
                <div class="col col-md-5">
                    <div class="container text-center">
                        <h4>Admin login</h4>
                        <small class="text-light-gray font-xs">Login to continue</small>
                    </div>
                    <div class="h-100 pt-5">
                        <form asp-page="/Account/Login/Index">
                            <input type="hidden" asp-for="Input.ReturnUrl" />
                            <div class="mb-3">
                                <label asp-for="Input.Username" class="form-label">Username</label>
                                <input type="text"
                                       class="form-control"
                                       autocomplete="off"
                                       aria-autocomplete="none"
                                       aria-describedby="emailHelpId"
                                       placeholder="adc"
                                       asp-for="Input.Username" />
                            </div>

                            <div class="mb-3">
                                <label asp-for="Input.Password" class="form-label">Password</label>
                                <input type="password"
                                       class="form-control"
                                       autocomplete="off"
                                       aria-autocomplete="none"
                                       aria-describedby="emailHelpId"
                                       placeholder="****"
                                       asp-for="Input.Password" />
                            </div>

                            @if (Model.View.AllowRememberLogin)
                            {
                                <div class="form-group">
                                    <div class="form-check">
                                        <input class="form-check-input" asp-for="Input.RememberLogin">
                                        <label class="form-check-label" asp-for="Input.RememberLogin">
                                            Remember My Login
                                        </label>
                                    </div>
                                </div>
                            }

                            <div class="mt-5 d-flex gap-md-4">
                                <button name="Input.Button" value="login" class="btn btn-ecoeden btn-rounded text-white">
                                    LOGIN
                                </button>
                                <button name="Input.Button" value="cancel" class="btn btn-rounded btn-light-gray ml-4">
                                    CANCEL
                                </button>
                            </div>

                            @if (!Model.View.EnableLocalLogin && !Model.View.VisibleExternalProviders.Any())
                            {
                                <div class="alert alert-warning">
                                    <strong>Invalid login request</strong>
                                    There are no login schemes configured for this request.
                                </div>
                            }
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    if (!string.IsNullOrEmpty(Model.Input.ReturnUrl))
    {
        Response.Redirect(Model.Input.ReturnUrl);
    }
    else
    {
        Response.Redirect("/");
    }
}
