@import "EmailVerfication/_emailverified.scss";


.welcome-page {
  .logo {
    width: 64px;
  }
}

@font-face {
    font-family: 'Titillium Web';
    src: url('../fonts/Titillium_Web/TitilliumWeb-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap; /* Use swap for optimal performance */
}

body {
    font-family: 'Titillium Web',sans-serif;
}

.font-xs{
    font-size: 12px;
}
.font-sm {
    font-size: 14px;
}
.font-md {
    font-size: 18px;
}
.font-lg {
    font-size: 20px;
}
.ecoeden-link {
    text-decoration: none;
    color: rgb(121, 85, 230);
    &:hover{
        text-decoration: none!important;
        font-weight: bold;
    }
}

height-10{
    height: 650px !important;
}

.icon-banner {
  width: 32px;
}

.body-container {
  margin-top: 60px;
  padding-bottom: 40px;
}

.banner {
    &--info,
    &--success,
    &--error {
        border-radius: 15px !important;
    }

    &--info {
        background: rgba(#d1cfcf, .2);
    }

    &--success {
        background: rgba(#7955e6, .2);
    }

    &--error {
        background: rgba(#ff4782, .2);
    }
}

.form-check {
    &-label::before {
        background-color: red!important;
    }

    &-input:checked {
        &~.form-check-label::before {
            background-color: black!important;
        }
    }
}


.form-control {
    &:focus {
        outline: none !important;
        box-shadow: none !important;
        border: 1px solid #7955e6 !important;
    }
}

.btn {
    font-size: 14px !important;
    padding: 10px 18px !important;
    outline: none !important;
    border: none !important;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2) !important;
    transition: box-shadow 0.1s ease;

    &:hover,
    &:focus,
    &:active {
        outline: none !important;
        border: none !important;
    }

    &:focus,
    &:active {
        box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2) !important; /* Remove shadow on click */
    }

    &-primary {
        background: #7955e6 !important;
    }
}

.ecoeden-text-primary {
    color: #7955e6;
}

.ecoeden-text-error {
    color: #ff4782;
}

.welcome-page {
    li {
        list-style: none;
        padding: 4px;
    }
}

.alert-success{
    background: green!important;
    background-color: green!important;
}

.logged-out-page {
  iframe {
    display: none;
    width: 0;
    height: 0;
  }
}

.grants-page {
  .card {
    margin-top: 20px;
    border-bottom: 1px solid lightgray;

    .card-title {
      img {
        width: 100px;
        height: 100px;
      }

      font-size: 120%;
      font-weight: bold;
    }

    label {
      font-weight: bold;
    }
  }
}
