@import "EmailVerfication/_emailverified.scss";

$color-primary: #7955e6;
$color-error: #ff4782;
$color-info: #d1cfcf;


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.welcome-page {
  .logo {
    width: 64px;
  }
}

@font-face {
    font-family: 'Titillium Web';
    src: url('../fonts/Titillium_Web/TitilliumWeb-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap; /* Use swap for optimal performance */
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Titillium Web',sans-serif;
}

.app-main {
    flex: 1;
}

.font-xs{
    font-size: 12px;
}
.font-sm {
    font-size: 14px;
}
.font-md {
    font-size: 18px;
}
.font-lg {
    font-size: 20px;
}
.ecoeden-link {
    text-decoration: none;
    color: $color-primary;

    &:hover {
        text-decoration: none !important;
        font-weight: bold;
    }
}

height-10{
    height: 650px !important;
}

.icon-banner {
  width: 32px;
}



.banner {
    &--info,
    &--success,
    &--error {
        border-radius: 15px !important;
    }

    &--info {
        background: $color-info;
        filter: opacity(.2);
    }

    &--success {
        background: $color-info;
        filter: opacity(.2);
    }

    &--error {
        background: $color-error;
        filter: opacity(.2);
    }
}

.form-control {
    &:focus {
        outline: none !important;
        box-shadow: none !important;
        border: 1px solid $color-primary !important;
    }
}

.btn {
    font-size: 14px !important;
    padding: 10px 18px !important;
    outline: none !important;
    border: none !important;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2) !important;
    transition: box-shadow 0.1s ease;

    &:hover,
    &:focus,
    &:active {
        outline: none !important;
        border: none !important;
    }

    &:focus,
    &:active {
        box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2) !important; /* Remove shadow on click */
    }

    &-primary {
        background: $color-primary !important;
    }
}

.ecoeden-text-primary {
    color: $color-primary;
}

.ecoeden-text-error {
    color: $color-error;
}

.welcome-page {
    li {
        list-style: none;
        padding: 4px;
    }
}

.alert-success{
    background: green!important;
    background-color: green!important;
}

.logged-out-page {
  iframe {
    display: none;
    width: 0;
    height: 0;
  }
}

.grants-page {
  .card {
    margin-top: 20px;
    border-bottom: 1px solid lightgray;

    .card-title {
      img {
        width: 100px;
        height: 100px;
      }

      font-size: 120%;
      font-weight: bold;
    }

    label {
      font-weight: bold;
    }
  }
}


.footer {
    background: $color-primary!important;
    color: #fff;
    text-align: center;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    &-brand{
        margin-left: 15px;
    }
    &-links{
        display: flex;
        column-gap: 15px;
        & div{
            display: flex;
            align-items: center;
            column-gap: 10px;
        }
    }
}