@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="footer bg-success">
    <h4 class="footer-brand">Ecoeden</h4>
    <div class="footer-copyright">
        &copy; 2024 Your Website Name. All rights reserved.
    </div>
    <div class="footer-links">
        <div>
            <i class="fas fa-phone font-sm"></i>
            <span>Contact us</span>
        </div>
        <div>
            <i class="fas fa-shield font-sm"></i>
            <span>Privacy policy</span>
        </div>
    </div>
</div>